<link rel="stylesheet" media="all" href="//dka575ofm4ao0.cloudfront.net/assets/application-3de2fddcdd873a7d397120e225aa7490c695a80e6adebcb1803e69973a915d22.css" />

<style>
  a.button {
    text-decoration: none;
    color: initial;
    padding: 4px;
    border: 2px solid;
    border-radius: 25px;
    background-color: lightgray;
    border-color: lightgray;
  }
  a.button:hover {
    text-decoration: none;
    color: initial;
    padding: 4px;
    border: 2px solid;
    border-radius: 25px;
    background-color: lightblue;
    border-color: lightblue;
  }
</style>
<meta http-equiv="refresh" content="10; url={{ site.url }}" />
