<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    {% include 4x_header.html %}
  </head>

  <body id="page">

    {% include navigation.html %}

    <div id="main" role="main" class="content-error">
      <div class="entry-wrapper">
        <header class="entry-header">
          <h1 class="entry-title">{{ site.title }}</h1>
        </header>
        <div class="entry-content">

          <center style="margin-top:1rem">
            <h5>{{ page.code }}: {{ page.message }}</h5>

            <div style='max-width: 1000px;'>
              {{ content }}
            </div>

            <p style='max-width: 1000px;'>
              You will be automatically redirected home in <strong>120</strong>
              seconds. Alternatively, click here:
              <a href="{{ site.url }}">{{ site.url }}</a>
            </p>
            <br>
            <div id="error-footer">
              {% include 4x_footer.html %}
            </div>
            <br>
            <img src="//dka575ofm4ao0.cloudfront.net/assets/error/tbstand1-9c3c942cd0840a017da8c516ac2f46c6fac08e36c36cb124a099d3e59f98e2b6.png" alt="Tbstand1" />

          </center>
        </div><!-- /.entry-content -->
      </div><!-- /.entry-wrapper -->
    </div><!-- /#main -->

    <div class="footer-wrapper">
      <footer role="contentinfo" class="entry-wrapper">
        {% include footer.html %}
      </footer>
    </div><!-- /.footer-wrapper -->

    {% include scripts.html %}

  </body>
</html>
